<div ng-style="getExpandContentHeight()" ng-hide="data.ShowJobPanel" class="expand-collpase-panel" ng-click="hideJobPanel(false)" title="{{getLocalizedString('Auctioninc.Expand')}}">
			
</div>
<div class="product-customization-leftframe" ng-show="data.ShowJobPanel">
	<div   ng-include src="data.TemplateFactory.GetPathWithVersion(data.TemplateFactory.SiteLevelTemplatePaths.JobInput)" ng-cntrl="{{data.TemplateFactory.SiteLevelControllerPaths.JobInput}}">

	</div>
	<!--START-Tabs Panel-->
	<div class="smartcanvas-tabs-container">
		<ul class="smartcanvas-tabs-nav">
			<li>
			<a ng-click="LoadEditMode(false)" href="javascript:" title="{{getLocalizedString('Shared.Edit')}}">
				<span class="smartcanvas-icon icon_pencil-edit"></span>
				<span class="label" ng-localize="Shared.Edit">##UploadDataSource</span>
				<div class="arrow-up-edit" ng-hide="data.PreviewMode"></div>
			</a>
			</li>
			<li>
			<a ng-click="LoadPreview(true)" href="javascript:" title="{{getLocalizedString('Shared.Preview')}}">
				<span class="smartcanvas-icon icon-eye"></span>
				<span class="label" ng-localize="Shared.Preview">##Selected Data</span>
				<div class="arrow-up-preview" ng-show="data.PreviewMode"></div>
			</a>
			</li>
			
		</ul>
		
		<!--END - Tabs Panel-->				
		
	</div>
		
		<div   ng-include src="data.TemplateFactory.GetPathWithVersion(data.TemplateFactory.SiteLevelTemplatePaths.PrintOptions)" ng-cntrl="{{data.TemplateFactory.SiteLevelControllerPaths.PrintOptions}}" class="smartcanvas-tabs-panel" ng-show="data.PreviewMode">

		</div>
		<div ng-cntrl="ResponsiveUI/Buyerpages/js/controllers/productcustomization/Common/SmartCanvasFormFieldsCntrl.js" class="smartcanvas-tabs-panel ng-scope" ng-hide="data.PreviewMode">
			<div ng-click="data.PrintOptionsClick=false;data.clossAllPrintOptions('main');" class="product-customization-personalization-panel ng-scope">
				<div class="personalization-panel-title-holder" style="width:100%">
					<div class="floatleft">
						<span class="header-label ng-binding"> Personalization </span>
					</div>
				</div>
				<div style="display: block;width: 100%;background: rgb(255, 255, 255);overflow-y: auto;" ng-style="data.PrintOptionsHeight">
					<div class="personalization-content" style="padding: 0 0 15px 15px;">
						<div ng-repeat="FieldDefinition in FieldDefinitions" class="ng-scope">
							<p style="margin-bottom: 2px"><strong>{{FieldDefinition.displayName}}</strong></p>
							<button type="button" ng-click="imageSelection(FieldDefinition,$event)">Select Image</button><span style="color: #5cb85c; margin-left: 9px;" class="icon_check_alt" ng-hide="FieldDefinition.Source.endsWith('z-promo.pdf')"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="product-customization-rightframe" >
	
	<div class="smartcanvas-right-top-panel" style="width: 99% !important;">
		
		<div class="top-section1">
		
		<a ng-click="hideJobPanel(false)"  class="smartcanvas-collapse-icon"  href="javascript:" title="{{CollapseText}}"> <span class="{{CollaspseIcon}}" ></span></a>	
		</div>
		<div class="top-section2">
			<div class="items-holder">
				<div class="toggle">
					<a href="javascript:" ng-click="LoadEditMode(false)" class="{{editBtnSelected}}" title="{{getLocalizedString('Shared.Edit')}}"> <span class="icon_pencil-edit"></span></a>
					<a  href="javascript:" ng-click="LoadPreview(true)" class="{{previewBtnSelected}} btn1" title="{{getLocalizedString('Shared.Preview')}}"> <span class="icon-eye"></span></a>
				</div>
			</div>
		</div>
	</div>
		
		<div class="product-customization-preview-panel" ng-click='data.PrintOptionsClick=false;data.clossAllPrintOptions("main");' style="width: 99% !important;" ng-hide="data.PreviewMode">
			<iframe  id="editPreviewFrame"  ng-style="getContentHeight()" border="0"  ng-loadsmartcanvas></iframe>
		</div>
		<div ng-include src="data.TemplateFactory.GetPathWithVersion(data.TemplateFactory.SiteLevelTemplatePaths.Preview)" ng-cntrl="{{data.TemplateFactory.SiteLevelControllerPaths.Preview}}" ng-show="data.PreviewMode" >

		</div>
		<div ng-include src="data.TemplateFactory.GetPathWithVersion(data.TemplateFactory.SiteLevelTemplatePaths.PriceFooter)" ng-cntrl="{{data.TemplateFactory.SiteLevelControllerPaths.PriceFooter}}">

		</div>			
		
</div>
